
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dashboard-container {
    width: 100vw;
    height: 30vh;
    background: #ffffff;
    flex-wrap: wrap;
    display: grid;
    place-items: center;
}

.dashboard-heading {
	display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    text-align: left;
    font: normal normal normal 20px/25px Tondo;
    letter-spacing: 0px;
    color: #1C293B;
    text-transform: uppercase;
    opacity: 1;
}

.table{
    border: 0px solid #999999;
	display: table;
    width: 100%;
}

.tableRow {
	display: table-row;
	text-align: center;
}

.tableHead {
	color: rgb(163, 159, 159);
}

.tableCell {
	border-bottom: 1px solid #999999;
	display: table-cell;
	padding: 10px;
	width: 20px;
}


.tableBody {
	display: table-row-group;
}

.icon{
    padding-right: 1rem;
    cursor: pointer;
}

.green{
  color: rgb(7, 97, 7);
}

.red{
  color: rgb(201, 11, 11);
}  

.approve-btn{
    background-color: #2FC78D;
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    box-shadow: 0px 4px 16px #455B6314;
}

.reject-btn {
    background-color: #E7112C;
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    box-shadow: 0px 4px 16px #455B6314;
}