<div class="dashboar-container">
    <div class="dashboard-heading">
        <h3>UNDER APPROVAL</h3>
    </div>
    <div class="table">
        <div class="tableBody">
            <div class="tableRow tableHead">
                <div class="tableCell">COUNTRY</div>
                <div class="tableCell">CURRENCY</div>
                <div class="tableCell">BUY RATE</div>
                <div class="tableCell">SELL RATE</div>
                <div class="tableCell">ACTION</div>

            </div>
            <div class="tableRow"  *ngFor="let item of Value; index as i">
                <div class="tableCell">{{item[0]}}</div>
                <div class="tableCell">{{item[1]}}</div>
                <div class="tableCell">{{item[2]}}</div>
                <div class="tableCell">{{item[3]}}</div>
                <div class="tableCell">
                    <button class="delete-btn" (click)="deleteRecord(i)"> &#10007; Remove</button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>