<div class="overview-container">
  <div class="heading">
    <h3>Overview</h3>
    <div class="drop_menu">
        <select name="" id="">
            <option value="">USD</option>
        </select>
    </div>  
  </div>

  <div class="blocks">
    <!--   Kenya -->
    <div class="block">
        <img src="./assets/images/flags/kenya-flag.svg" alt="Kenya Flag">
        <h4 class="flag_title">Kenya</h4>
        <div class="rate">
            <div class="buy_rate">
                <h3>552.41 <br><span>Buy Rate</span></h3>
            </div>
            <div class="borderbt"></div>
            <div class="sell_rate">
                <h3>562.41 <br><span>Sell Rate</span></h3>
            </div>
        </div>
        <div class="bottom_line"></div>
    </div>

    <!--   Malawi -->
    <div class="block">
        <img src="./assets/images/flags/malawi-flag.svg" alt="Malawi Flag">
        <h4 class="flag_title">Malawi</h4>
        <div class="rate">
            <div class="buy_rate">
                <h3>552.41 <br><span>Buy Rate</span></h3>
            </div>
            <div class="borderbt"></div>
            <div class="sell_rate">
                <h3>562.41 <br><span>Sell Rate</span></h3>
            </div>
        </div>
        <div class="bottom_line"></div>
    </div>
    
    <!--   Rwanda -->
    <div class="block">
      <img src="./assets/images/flags/rwanda-flag.svg" alt="Rwanda Flag">
      <h4 class="flag_title">Rwanda</h4>
      <div class="rate">
          <div class="buy_rate">
              <h3>552.41 <br><span>Buy Rate</span></h3>
          </div>
          <div class="borderbt"></div>
          <div class="sell_rate">
              <h3>552.41 <br><span>Sell Rate</span></h3>
          </div>
      </div>
      <div class="bottom_line"></div>
    </div>

    <!--   Tanzania -->
    <div class="block">
        <img src="./assets/images/flags/tanzania-flag.svg" alt="Tanzania Flag">
        <h4 class="flag_title">Tanzania</h4>
        <div class="rate">
            <div class="buy_rate">
                <h3>552.41 <br><span>Buy Rate</span></h3>
            </div>
            <div class="borderbt"></div>
            <div class="sell_rate">
                <h3>552.41 <br><span>Sell Rate</span></h3>
            </div>
        </div>
        <div class="bottom_line"></div>
    </div>

    <!--   Uganda -->
    <div class="block">
        <img src="./assets/images/flags/uganda-flag.svg" alt="Uganda Flag">
        <h4 class="flag_title">Uganda</h4>
        <div class="rate">
            <div class="buy_rate">
                <h3>108.02 <br><span>Buy Rate</span></h3>
            </div>
            <div class="borderbt"></div>
            <div class="sell_rate">
                <h3>108.02 <br><span>Sell Rate</span></h3>
            </div>
        </div>
        <div class="bottom_line"></div>
    </div>

    <!--   Zambia -->
    <div class="block">
        <img src="./assets/images/flags/zambia-flag.svg" alt="Zambia Flag">
        <h4 class="flag_title">Zambia</h4>
        <div class="rate">
            <div class="buy_rate">
                <h3>3,824.72 <br><span>Buy Rate</span></h3>
            </div>
            <div class="borderbt"></div>
            <div class="sell_rate">
                <h3>3,824.72 <br><span>Sell Rate</span></h3>
            </div>
        </div>
        <div class="bottom_line"></div>
    </div>
  </div>
</div>